# Python
__pycache__/
*.py[cod]

# Virtual env
.venv/

# Env vars
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

parsers/__pycache__/*.pyc

*.pyc

/debugFiles
parsers/__pycache__/lariviera.cpython-313.pyc
parsers/__pycache__/movistar_arena.cpython-313.pyc
parsers/__pycache__/elsol.cpython-313.pyc
TODO.md
